.footer {
    background: linear-gradient(90deg, #0DD0BA 0%, #2A86E5 100%);
    border-radius: 40px;
    margin: 20px;
    padding: 20px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footerLeft {
    background: rgba(255, 255, 255, 1);
    max-width: 350px;
    padding: 85px 32px 30px 32px;
    border-radius: 20px;
}
.footerLeft-title {
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    text-align: center;    
}
.footerText {
    padding-top: 65px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(13, 208, 186, 1);
}
.footer-socialItems {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-socialItem {
}
.footer-socialItem:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.footerRight {
    width: 100%;
    display: grid;
    align-items: center;
    padding: 20px 20px 20px 70px;
    color: rgba(255, 255, 255, 1);
}
.footerRight-itemsOut {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.footerRight-itemOut {
}
.footerRight-itemsInside {
    cursor: pointer;
}
.itemInside-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-bottom: 14px;
}
.footerRight-itemInside {
    padding-bottom: 3px;
    margin-left: 14px;
    list-style: disc;
}
.footerRight-itemInside:hover {
    transform: scale(1.1);
}

.footerCopuright {
    padding-top: 0px;
}

@media (max-width: 991px) {
    .footer {
        padding: 30px 30px 40px 30px;
    }
    .footerLeft {
        max-width: 100%;
        padding-top: 58px;
    }
    .footerRight {
        padding: 30px 0px 0px 0px;
    }
    .footer__container {
        display: grid;
        justify-content: center;
    }
    .footerText {
        padding-top: 55px;
    }
    .footerText {
        text-align: center;
    }
    .footerCopuright {
        padding-top: 32px;
        text-align: center;
    }
    .footerRight-itemOut {
        text-align: center;
    }
    .footerRight-itemInside {
        list-style: none;
    }
    .footer-socialItems {
        justify-content: center;
        gap: 15px;
    }
    .footerRight-itemInside {
        margin: 0px;
    }
}

@media (max-width: 580px) {
    .footer {
        padding: 20px;
    }
    .footerRight-itemsOut {
        display: grid;
        justify-content: center;
    }
}