header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #0DD0BA 0%, #2A86E5 100%);
    padding: 10px 24px;
    z-index: 10;
}
.header__container {
    display: flex;
    align-items: center;
}
.headerLeft {
    display: flex;
    align-items: center;
}
.headerLeft-items {
    display: flex;
    color: #fff;
    width: 500px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    gap: 31px;
}
.headerLeft-item {
    display: block;
    align-items: center;
    width: 120px;
    gap: 4.5px;
    cursor: pointer;
}
/* Лінії починаються з різних сторін */
.headerLeft-item::before {
    margin-left: auto;
}
/* Створюємо линії */
.headerLeft-item::after,
.headerLeft-item::before {
    display: block;
    content: '';
    width: 0%; 
    height: 2px;
    background: linear-gradient(90deg, #51dfcf 0%, #0180ff 100%);
}
/* Лінії будуть займать всю ширину слова */
.headerLeft-item:hover:after,
.headerLeft-item:hover:before {
    transition: all 0.5s ease 0s;
    width: 100%;
}

.headerRight {
    margin-left: auto;
}
.headerRight-items {
    display: flex;
    gap: 15px;
}
.headerRight-item {
    display: flex;
    cursor: pointer;
}
.headerRight-item:hover {
}

.bttDayNight {
    width: 54px;
    height: 29px;
    border-radius: 50px;
    background-color: #fff;
    padding: 2px 3px;
    margin-left: 28px;
}
.bttDay {
    display: block;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    background-color: #183A5D;
    cursor: pointer;
}
.bttDay img {
    padding-top: 5px;
}
.bttNight {
    display: none;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    background-color: #183A5D;
    cursor: pointer;
    margin-left: auto;
}
.bttNight img {
    padding-top: 5px;
}

@media (max-width: 810px) {
    .headerLeft-items {
        width: 100%;
    }
    .headerLeft-item:last-child {
        display: none;
    }
}

@media (max-width: 660px) {
    .headerLeft {
        display: none;
    }
    .headerRight {
        margin-left: 0;
        width: 100%;
    }
}