.main {
    padding: 0px 24px 200px 24px;
}
.mainHeader__container {
    display: flex;
    align-items: center;
    padding-top: 31px;
}
.mainHeader-logo {
    cursor: pointer;
}
.mainHeader-menu {
    padding-left: 61px;
}
.mainHeader-items {
    display: flex;
    align-items: center;
    gap: 28px;
}
.mainHeader-item {
    color: rgba(42, 134, 229, 1);
    letter-spacing: 0.5px;
    line-height: 140%;
    font-weight: 500;
    cursor: pointer;
}
/* Лінії починаються з різних сторін */
.mainHeader-item::before {
    margin-left: auto;
}
/* Створюємо линії */
.mainHeader-item::before {
    display: block;
    content: '';
    width: 0%; 
    height: 1px;
    background: linear-gradient(90deg, #636565 0%, #0180ff 100%);
}
/* Лінії будуть займать всю ширину слова */
.mainHeader-item:hover:after,
.mainHeader-item:hover:before {
    transition: all 0.5s ease 0s;
    width: 100%;
}

.mainSearch-form {
    margin-left: auto;
}
.mainSearch-input {
    position: relative;
    width: 176px;
    height: 42px;
    border-radius: 40px;
    color: rgba(117, 117, 117, 1);
    background: rgba(238, 238, 238, 1);    
    border: none;
    padding: 10px 10px 10px 21px;
}
.mainSearch-input:focus {
    outline: none;
}
.mainSearch-input::placeholder {
    background: url(../img/mainHeader/mainSearch.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.header__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
.burger-line {
  display: none;
  background: rgba(42, 134, 229, 1);
  height: 3px;
  width: 100%;
  position: absolute;
  transition: transform 0.3s ease;
}
.burger-line:nth-child(1) {
  top: 0;
}
.burger-line:nth-child(2) {
  top: 50%;  
  transform: translateY(-50%);
}
.burger-line:nth-child(3) {
  bottom: 0;
}
.header__burger.cross .burger-line:nth-child(1) {
  transform: rotate(-45deg) translate(-12px);
}

.header__burger.cross .burger-line:nth-child(2) {
  opacity: 0;
}

.header__burger.cross .burger-line:nth-child(3) {
  transform: rotate(45deg) translate(-12px);
}

.mainHide {
    display: none;
}
.mainHide-items {
    display: flex;
    justify-content: space-between;
}
.mainHide-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.5px; 
    color: rgba(112, 112, 112, 1);
    gap: 5px;
    cursor: pointer;
}
.mainHide-item:hover {
    transform: scale(1.1);
}
@media (max-width: 991px) {
    .mainHeader__container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .mainHeader-menu {
        padding-left: 0px;
    }
    .mainSearch-form {
        width: 100%;
    }
    .mainSearch-input {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .mainSearch-form,
    .mainHeader-menu {
        display: none;
    }
    .header__burger,
    .burger-line {
        display: block;
    }
    .header__burger {
        margin-left: auto;
    }

    .mainHeader-logo {
        order: 1;
    }
    .header__burger {
        order: 2;
    }
    .mainSearch-form {
        order: 3;
    }
    .mainHide {
        order: 4;
    }
    .mainHeader-menu {
        order: 4;
        grid-row: 3;
        grid-column: span 4;
        text-align: end;
    }
    .mainHeader-items {
        display: grid;
        justify-content: center;
        padding-top: 75px;
        gap: 58px;
    }
    .mainSearch-form {
        grid-column: span 4;
        padding-top: 30px;
    }
    .mainHide {
        padding-top: 161px;
        grid-row: 4;
        grid-column: span 4;
    }
}

@media (max-width: 660px) {
    .mainHeader-items {
        gap: 28px;
    }
    .mainHeader-items {
        padding-top: 50px;
    }
    .mainHide {
        padding-top: 103px;
    }
    .mainHide-items {
        display: grid;
        justify-content: center;
        gap: 23px;
    }
}