body {
    background-color: black;
}

.bttDay {
    display: none;
}
.bttNight {
    display: block;
    background-color: white;
}
.bttDayNight {
    background-color : #183A5D;
}
.mainSearchInput {
    background-color : rgba(24, 58, 93, 1);
    color : rgba(255, 255, 255, 1);
}
.mainGame__container {
    background-color : rgba(14, 18, 25, 1);
}
.footerLeft {
    background-color: rgba(32, 36, 52, 1);
}
.footerLeft-title {
    color: rgba(255, 255, 255, 1);
}
.footerText {
    color: rgba(255, 255, 255, 1);
}