body {
    background-color: white;
}

.bttDay {
    display: block;
}
.bttNight {
    display: none;
    background-color: #183A5D;
}
.bttDayNight {
    background-color : white;
}
.mainSearchInput {
    background-color : rgba(238, 238, 238, 1);
    color : rgba(255, 255, 255, 1);
}
.mainGame__container {
    background-color : rgba(255, 255, 255, 1);
}
.footerLeft {
    background-color: rgba(255, 255, 255, 1);
}
.footerLeft-title {
    color: rgba(0, 0, 0, 1);
}
.footerText {
    color: rgba(13, 208, 186, 1);
}